figure {
  position: relative;
}
 
figure:before,
figure:after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}
 
img .newscontent{
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

img .banner {
    width: 70%;
    height: 70%;
    margin: 0;
    padding: 0;
}