figure {
  position: relative;
}
 
figure:before,
figure:after {
  content: '';
  height: 50%;
  width: 50%;
  top: 0;
  left: 0;
  position: relative;
}
 
/*img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}*/

img .banner-news{
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
}

img .news-page{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

img .testimonial-page{
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

